@import "tailwindcss";

* {
  box-sizing: border-box;

}

body {
  max-width: 1800px;
  margin: auto;
}

.font-arial {
  font-family: Arial, sans-serif;
}

.font-oswald-medium {
  font-family: "Oswald", sans-serif;
}

.oswald-medium {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

.oswald-light {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

@theme {
  --color-primary: #122e5e;
  --color-secondary: #e1cd67;
  --color-orange: #f04e30;
  --color-ligh-gray: #949494;
  --color-gray: #707070;
  --color-white: #ffffff;
}

.hero-slider-hight {
  @apply h-[calc(100vh-188px)] sm:h-[calc(100vh-160px)];
  /* @apply h-[calc(100vh-100px)] sm:h-[calc(100vh-160px)] max-h-[600px] md:max-h-[700px]; */
}

.programmes-slider-hight {
  @apply h-[calc(100vh-100px)] sm:h-[calc(100vh-100px)];
}

.admissions-slider-hight {
  @apply h-[calc(100vh-100px)];
}

/* @media (min-width: 768px) { */
.hero-slider-bg {
  background: hsla(0, 0%, 50%, 0.1) !important;
}

/* } */

@media (max-width: 728px) {
  .swipper-height {
    height: 60vh;
  }

  .excellence-wrod {
    height: 10px;
    position: relative;
    bottom: 40px;
  }
}

@media (max-width: 1025px) {
  .swipper-height {
    height: 80vh !important;
  }
}

@media (max-width: 1200px) {
  .swipper-height {
    height: 50vh;
  }
}

@media (max-width: 1536px) {
  .swipper-height {
    height: 50vh;
  }
}

@media (min-width: 1536px) {
  .centered-text {
    left: 50%;
    font-weight: bold !important;
  }

  .swipper-height {
    height: 70vh;
  }
}

@media (max-height: 850px) {
  .hero-slider-hight * {
    /* font-size: 1.8vh !important; */
  }


}

@media (max-height: 750px) {
  .hero-slider-hight {
    /* @apply h-[calc(100vh+300px)] sm:h-[calc(100vh+160px)]; */
  }
}

@media (max-height: 650px) {
  .swipper-height {}

  .swipper-height {}
}

.why-study-with-du .slick-dots {
  top: 105%;
}

.slick-dots li button::before {
  scale: 3;
  color: #a5a2a2 !important;
}

.swiper-pagination-bullet {
  scale: 2;
  background-color: #a5a2a2 !important;
  margin: 0 10px !important;
}

.slick-dots li.slick-active button:before,
.swiper-pagination-bullet-active {
  color: #a29f9f !important;
}

.carousel .control-dots .dot {
  scale: 1;
  background-color: #a5a2a2 !important;
}


.slick-dots li.slick-active div {
  background-color: #6b7280;
  /* Tailwind gray-500 */
}

.outcome .control-dots {
  top: 100% !important;
  z-index: 500;
}

.outcome .carousel-slider {
  overflow: unset !important;
}

.mobile-menu-wrapper * {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

@font-face {
  font-family: "Helvetica LT Std Condensed";
  src: url("/fonts/HelveticaLTStd-Condensed.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.hero-slider-hight {
  height: 78vh;
}



.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #a5a2a2 !important;
  opacity: 1;
  margin: 0 6px !important;
}

.swiper-pagination-bullet-active {
  background-color: #999 !important;
  /* active dot color */
}

/* Add in global styles or inside Tailwind's custom CSS if needed */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /*  */
  scrollbar-width: none;
}

@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  max-width: 1800px;
  margin: auto;
}

.container {
  @apply max-w-6xl px-4 xl:px-0 mx-auto;
}

.font-arial {
  font-family: Arial, sans-serif;
}

.font-oswald-medium {
  font-family: "Oswald", sans-serif;
}

.oswald-medium {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

.oswald-light {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

@theme {
  --color-primary: #122e5e;
  --color-secondary: #e1cd67;
  --color-orange: #f04e30;
  --color-ligh-gray: #949494;
  --color-gray: #707070;
  --color-white: #ffffff;
  --animate-fade: fadeIn 1s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.hero-slider-hight {
  @apply h-[calc(100vh-188px)] sm:h-[calc(100vh-160px)];
  /* @apply h-[calc(100vh-100px)] sm:h-[calc(100vh-160px)] max-h-[600px] md:max-h-[700px]; */
}

.programmes-slider-hight {
  @apply h-[calc(100vh-100px)] sm:h-[calc(100vh-100px)];
}

.admissions-slider-hight {
  @apply h-[calc(100vh-100px)];
}

/* @media (min-width: 768px) { */
.hero-slider-bg {
  background: hsla(0, 0%, 50%, 0.1) !important;
}

/* } */

.widget_container {
  background: white !important;
}

button {
  cursor: pointer;
}

@media (max-width: 728px) {
  .swipper-height {
    height: 60vh;
  }

  .excellence-wrod {
    height: 10px;
    position: relative;
    bottom: 40px;
  }
}

@media (max-width: 1025px) {
  .swipper-height {
    height: 80vh !important;
  }
}

@media (max-width: 1200px) {
  .swipper-height {
    height: 50vh;
  }
}

@media (max-width: 1536px) {
  .swipper-height {
    height: 50vh;
  }
}

@media (min-width: 1536px) {
  .centered-text {
    left: 50%;
    font-weight: bold !important;
  }

  .swipper-height {
    height: 70vh;
  }
}

@media (max-height: 850px) {
  .hero-slider-hight * {
    /* font-size: 1.8vh !important; */
  }

  /* .swipper-height {
    height: 80vh !important;
  } */
}

@media (max-height: 750px) {
  .hero-slider-hight {
    /* @apply h-[calc(100vh+300px)] sm:h-[calc(100vh+160px)]; */
  }

  /*.hero-slider-hight * {
    font-size: 2vh !important;
  }
  .swipper-height {
    height: 95vh !important;
  } */
}

@media (max-height: 650px) {
  .swipper-height {
    /* display: none; */
    /* height: 120vh !important; */
  }

  .swipper-height {
    /* height: 120vh !important; */
  }
}

.why-study-with-du .slick-dots {
  top: 105%;
}

.slick-dots li button::before {
  scale: 3;
  color: #a5a2a2 !important;
}

.swiper-pagination-bullet {
  scale: 2;
  background-color: #a5a2a2 !important;
  margin: 0 10px !important;
}

.slick-dots li.slick-active button:before,
.swiper-pagination-bullet-active {
  color: #a29f9f !important;
}

.carousel .control-dots .dot {
  scale: 1;
  background-color: #a5a2a2 !important;
}

/* 
.slick-dots li div {
  width: 12px;
  height: 12px;
  border-radius: 9999px;
  border: 1px solid black;
  background-color: white;
} */

.slick-dots li.slick-active div {
  background-color: #6b7280;
  /* Tailwind gray-500 */
}

.outcome .control-dots {
  top: 100% !important;
  z-index: 500;
}

.outcome .carousel-slider {
  overflow: unset !important;
}

.mobile-menu-wrapper * {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

@font-face {
  font-family: "Helvetica LT Std Condensed";
  src: url("/fonts/HelveticaLTStd-Condensed.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.hero-slider-hight {
  height: 78vh;
}

/* 
.custom-dots ul {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.custom-dots li button:before {
  color: #999;
  font-size: 10px;
}

.custom-dots li.slick-active button:before {
  color: #E60019;
} */

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #a5a2a2 !important;
  opacity: 1;
  margin: 0 6px !important;
}

.swiper-pagination-bullet-active {
  background-color: #999 !important;
  /* active dot color */
}

/* Add in global styles or inside Tailwind's custom CSS if needed */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;

  scrollbar-width: none;
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}

.clip-path-message {
  clip-path: polygon(0 23%,
      100% 23%,
      100% 75%,
      100% 75%,
      100% 100%,
      82% 75%,
      0% 75%);
  width: 154px;
  height: 98px;
  background: #f04e30;
  box-sizing: border-box;
  display: block;
  position: relative;
}

.clip-path-message .clip-path-message-inner {
  position: absolute;
  clip-path: polygon(0 23%,
      100% 23%,
      100% 75%,
      100% 75%,
      100% 100%,
      82% 75%,
      0% 75%);
  left: 2px;
  top: 4px;
  width: 150px;
  height: 90px;
  background: white;
  box-sizing: border-box;
  display: block;
}

.clip-path-message .clip-path-message-inner span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #707070;
}

.holistic-text {
  position: relative;
}

/* .holistic-text::after {
  content: "";
  position: absolute;
  right: -2rem;
  width: 1px;
  background-color: #c4c4c4;
  height: 60%;
  top: 50%;
  transform: translateY(-50%);
}

.holistic-text::before {
  content: "";
  position: absolute;
  right: -2.35rem;
  width: 10px;
  background-color: #707070;
  height: 10%;
  top: 50%;
  z-index: 1;
} */

@media (max-width: 762px) {

  .holistic-text::after,
  .holistic-text::before {
    display: none;
  }
}

.btn a {
  display: block;
  padding: 1rem 4rem;
  color: white;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.orange-btn a {
  background-color: var(--color-orange);
  font-weight: bold;
}

.primary-btn a {
  background-color: var(--color-primary);
  padding: 1rem 5rem;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

.know-more {
  @apply text-[#269BFF] underline;
}

.research-item {
  position: relative;
}

.research-item:not(:nth-child(3))::after {
  content: "";
  position: absolute;
  right: -1rem;
  height: 60%;
  width: 1px;
  background-color: #9c9c9c;
}

@media (max-width: 762px) {
  .research-item:not(:nth-child(3))::after {
    display: none;
  }
}

@utility active-link {
  @apply border-b-gray;
}